body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.navbar h1 {
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Ajustado para alinear elementos en el extremo derecho de la navbar */
    flex-grow: 1; /* Asegura que el user-info tome el espacio restante en la navbar */
}

.user-info img {
    width: 40px; /* Tamaño aumentado */
    height: 40px; /* Mantener la proporción */
    border-radius: 50%; /* Asegura que la imagen sea completamente circular */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.user-info p {
    margin: 0;
    color: white; /* Asegura que el texto sea blanco para mejorar la visibilidad */
    font-size: 18px; /* Tamaño adecuado para el texto */
}

.main-menu {
    display: flex;
    flex-direction: column; /* Alinea los botones en una columna vertical */
    align-items: center; /* Centra los botones horizontalmente */
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Un ancho relativo para uniformidad, ajusta según necesidad */
    padding: 20px; /* Padding generoso para un buen tamaño */
    margin: 10px 0; /* Margen solo vertical para espaciar los botones verticalmente */
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 20px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-size: 24px; /* Tamaño de la fuente adecuado para visibilidad */
    cursor: pointer;
    border: none; /* Elimina cualquier borde */
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

#pacientes {
    background-color: #007bff;
}

#actividades {
    background-color: #ffc107;
}

#notas {
    background-color: #dc3545;
}

